@model InfiniList.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Infini-List</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">IFL.com</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Collection">Collection</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register" id="registerLink">Register</a></li>
                    <li><a href="/Account/Login" id="loginLink">Log in</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">



        <h2>Register.</h2>

        <form action="/Account/Register" class="form-horizontal" method="post" role="form">
            <input name="__RequestVerificationToken" type="hidden" value="d7TI4wNv_bq5Svwh4YBCM814qexWo5oMioWcNIlC6wm-eUqqz1LwrB9UHf_eHTUhz5iWzhafIelkTHbT1pYsEM0o-ZLlfti0xoSUZZEsObw1" />    <h4>Create a new account.</h4>
            <hr />
            <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                @*<ul>
                    <li style="display:none"></li>
                </ul>*@
            </div>    <div class="form-group">
                <label class="col-md-2 control-label" for="Email">Email</label>
                <div class="col-md-10">
                    <input class="form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="Password">Password</label>
                <div class="col-md-10">
                    <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
                <div class="col-md-10">
                    <input class="form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </form>

        <hr />
        @*<footer>
            <p>&copy; 2016 - Paul Martin</p>
        </footer>*@
    </div>

    <script src="/Scripts/jquery-1.10.2.js"></script>


    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>


    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>



    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome (Linux)","requestId":"3a1c97d447904a8eb6127e2954fe0039"}
    </script>
    <script type="text/javascript" src="http://localhost:59818/5ef66cb49b044282927ae6577b1734ea/browserLink" async="async"></script>
    <!-- End Browser Link -->

</body>
</html>

@*@{
        ViewBag.Title = "Register";
    }

    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
